<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<div class="profile-sidebar" role="region" aria-labelledby="add-public-address-title">
  <header class="profile">
    <h2 id="add-public-address-title" class="add-public-address-title sr">${_("Add Your Bitcoin SV Address or Paymail")}: </h2>
  </header>
  <div class="user-info">
    <ul>
      <li class="status status-verification warning" aria-labelledby="status-title" tabindex="-1">
        <span id="status-title" class="title status-title">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <span class="sr">Notice</span>
          ${_("Add Your Bitcoin SV Address or Paymail!")}
        </span>
        <p class="status-note">Add your Bitcoin SV address or Paymail to earn incentives. <a target="_top" href="/account/settings">Click here to earn</a></p>
      </li>
    </ul>
  </div>
</div>
